<h1>Member Tree</h1>
<div class="box box-member-tree">
    <div class="box-filter">
       <form class="el-form el-form--default el-form--label-right">
          <div class="el-input el-input--suffix">
             
             <div class="el-input__wrapper">
                <input class="el-input__inner" modelmodifiers="[object Object]" type="text" autocomplete="off" tabindex="0" placeholder="Input User ID" id="el-id-9584-54"><!-- suffix slot -->
             </div>
             
          </div>
          <div class="el-select internalSelect">
             <div class="select-trigger el-tooltip__trigger el-tooltip__trigger"> 
                <div class="el-input el-input--suffix">
                   
                   <div class="el-input__wrapper">
                      <input class="el-input__inner" type="text" readonly="" autocomplete="off" tabindex="0" placeholder="Select" id="el-id-9584-59"><!-- suffix slot -->
                      <span class="el-input__suffix">
                         <span class="el-input__suffix-inner">
                            <i class="el-icon el-select__caret el-select__icon">
                               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                  <path fill="currentColor" d="M831.872 340.864 512 652.672 192.128 340.864a30.592 30.592 0 0 0-42.752 0 29.12 29.12 0 0 0 0 41.6L489.664 714.24a32 32 0 0 0 44.672 0l340.288-331.712a29.12 29.12 0 0 0 0-41.728 30.592 30.592 0 0 0-42.752 0z"></path>
                               </svg>
                            </i>
                            
                         </span>
                      </span>
                   </div>
                   
                </div>
             </div>
          </div>
          <div class="el-select statusSelect">
             <div class="select-trigger el-tooltip__trigger el-tooltip__trigger">
                
                <div class="el-input el-input--suffix">
                   
                   <div class="el-input__wrapper">
                      <input class="el-input__inner" type="text" readonly="" autocomplete="off" tabindex="0" placeholder="Select" id="el-id-9584-60"><!-- suffix slot -->
                      <span class="el-input__suffix">
                         <span class="el-input__suffix-inner">
                            <i class="el-icon el-select__caret el-select__icon">
                               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                  <path fill="currentColor" d="M831.872 340.864 512 652.672 192.128 340.864a30.592 30.592 0 0 0-42.752 0 29.12 29.12 0 0 0 0 41.6L489.664 714.24a32 32 0 0 0 44.672 0l340.288-331.712a29.12 29.12 0 0 0 0-41.728 30.592 30.592 0 0 0-42.752 0z"></path>
                               </svg>
                            </i>
                            
                         </span>
                      </span>
                   </div>
                   
                </div>
             </div>
          </div>
          <div class="box-filter_btns">
             <button aria-disabled="false" type="button" class="el-button btn--s btn--gold">
                <span class="">Submit</span>
             </button>
             <button aria-disabled="false" type="button" class="el-button btn--s btn--black">
                <span class="">Export</span>
             </button>
          </div>
       </form>
    </div>
    <hr>
    <div class="box-level user-badge-level">
       
    </div>
    <div class="box-data">
       <div class="el-table--fit el-table--striped el-table--scrollable-x el-table--enable-row-hover el-table--enable-row-transition el-table el-table--layout-fixed is-scrolling-left" data-prefix="el" style="width: 100%;">
          <div class="el-table__inner-wrapper">
             <div class="hidden-columns">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                
                <div></div>
                <div></div>
                <div></div>
                
                <div></div>
                <div></div>
             </div>
             <div class="el-table__header-wrapper">
                <table class="el-table__header" border="0" cellpadding="0" cellspacing="0" style="width: 1458px;">
                   <colgroup>
                      <col name="el-table_11_column_47" width="268">
                      <col name="el-table_11_column_54" width="100">
                      <col name="el-table_11_column_48" width="160">
                      <col name="el-table_11_column_49" width="120">
                      <col name="el-table_11_column_50" width="100">
                      <col name="el-table_11_column_51" width="240">
                      <col name="el-table_11_column_55" width="80">
                      <col name="el-table_11_column_56" width="180">
                      <col name="el-table_11_column_52" width="120">
                      <col name="el-table_11_column_53" width="90">
                   </colgroup>
                   <thead class="">
                      <tr class="">
                         <th class="el-table_11_column_47 is-leaf el-table__cell" colspan="1" rowspan="1">
                            <div class="cell">
                               User ID
                            </div>
                         </th>
                         <th class="el-table_11_column_54 is-leaf el-table__cell" colspan="1" rowspan="1">
                            <div class="cell">
                               Prefix
                            </div>
                         </th>
                         <th class="el-table_11_column_48 is-leaf el-table__cell" colspan="1" rowspan="1">
                            <div class="cell">
                               User Name
                            </div>
                         </th>
                         <th class="el-table_11_column_49 is-leaf el-table__cell" colspan="1" rowspan="1">
                            <div class="cell">
                               Status
                            </div>
                         </th>
                         <th class="el-table_11_column_50 is-leaf el-table__cell" colspan="1" rowspan="1">
                            <div class="cell">
                               View
                            </div>
                         </th>
                         <th class="el-table_11_column_51 is-leaf el-table__cell" colspan="1" rowspan="1">
                            <div class="cell">
                               Currency
                            </div>
                         </th>
                         <th class="el-table_11_column_55 is-leaf el-table__cell" colspan="1" rowspan="1">
                            <div class="cell">
                               Wallet Type
                            </div>
                         </th>
                         <th class="el-table_11_column_56 is-leaf el-table__cell" colspan="1" rowspan="1">
                            <div class="cell">
                               Cert
                            </div>
                         </th>
                         <th class="el-table_11_column_52 is-leaf el-table__cell" colspan="1" rowspan="1">
                            <div class="cell">
                               Login Failure
                            </div>
                         </th>
                         <th class="el-table_11_column_53 is-leaf el-table__cell" colspan="1" rowspan="1">
                            <div class="cell">
                               Password Lock
                            </div>
                         </th>
                      </tr>
                   </thead>
                </table>
             </div>
             <div class="el-table__body-wrapper">
                <div class="el-scrollbar">
                   <div class="el-scrollbar__wrap el-scrollbar__wrap--hidden-default">
                      <div class="el-scrollbar__view" style="display: inline-block; vertical-align: middle;">
                         <table class="el-table__body" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed; width: 1458px;">
                            <colgroup>
                               <col name="el-table_11_column_47" width="268">
                               <col name="el-table_11_column_54" width="100">
                               <col name="el-table_11_column_48" width="160">
                               <col name="el-table_11_column_49" width="120">
                               <col name="el-table_11_column_50" width="100">
                               <col name="el-table_11_column_51" width="240">
                               <col name="el-table_11_column_55" width="80">
                               <col name="el-table_11_column_56" width="180">
                               <col name="el-table_11_column_52" width="120">
                               <col name="el-table_11_column_53" width="90">
                            </colgroup>
                            
                            <tbody> 
                               <tr class="el-table__row">
                                  <td class="el-table_11_column_47 el-table__cell" rowspan="1" colspan="1">
                                     <div class="cell">
                                        <a><span class="user-badge user-badge-ag">AG</span><span class="user-uid user-uid--pl">mauryasubhashinir8</span></a>
                                     </div>
                                  </td>
                                  <td class="el-table_11_column_54 el-table__cell" rowspan="1" colspan="1">
                                     <div class="cell">
                                        6p0
                                     </div>
                                  </td>
                                  <td class="el-table_11_column_48 el-table__cell" rowspan="1" colspan="1">
                                     <div class="cell">
                                        Subhashini maurya
                                     </div>
                                  </td>
                                  <td class="el-table_11_column_49 el-table__cell" rowspan="1" colspan="1">
                                     <div class="cell">
                                        
                                        <span class="" loading="false">
                                           <button aria-disabled="false" type="button" class="el-button btn--s btn--active">
                                              <span class=""><i></i> Active</span>
                                           </button>
                                        </span>
                                     </div>
                                  </td>
                                  <td class="el-table_11_column_50 el-table__cell" rowspan="1" colspan="1">
                                     <div class="cell">
                                        
                                        <span class="authorityDisabled">
                                           <button aria-disabled="false" type="button" class="el-button btn--xs btn--icon">
                                              <i class="el-icon">
                                                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                    <path fill="currentColor" d="m795.904 750.72 124.992 124.928a32 32 0 0 1-45.248 45.248L750.656 795.904a416 416 0 1 1 45.248-45.248zM480 832a352 352 0 1 0 0-704 352 352 0 0 0 0 704z"></path>
                                                 </svg>
                                              </i>
                                              <span class="">View</span>
                                           </button>
                                        </span>
                                     </div>
                                  </td>
                                  <td class="el-table_11_column_51 el-table__cell" rowspan="1" colspan="1">
                                     <div class="cell">
                                        
                                        <div class="currency">AUD</div>
                                        <div class="currency">CNY</div>
                                        <div class="currency">HKD</div>
                                        <div class="currency">INR</div>
                                        <div class="currency">LKR</div>
                                        <div class="currency">MYR</div>
                                        <div class="currency">NPR</div>
                                        <div class="currency">PKR</div>
                                        <div class="currency">THB</div>
                                     </div>
                                  </td>
                                  <td class="el-table_11_column_55 el-table__cell" rowspan="1" colspan="1">
                                     <div class="cell">
                                        Single
                                     </div>
                                  </td>
                                  <td class="el-table_11_column_56 el-table__cell" rowspan="1" colspan="1">
                                     <div class="cell">
                                        YMGbILpT0vjfDYalM2A
                                     </div>
                                  </td>
                                  <td class="el-table_11_column_52 el-table__cell" rowspan="1" colspan="1">
                                     <div class="cell">
                                        0
                                     </div>
                                  </td>
                                  <td class="el-table_11_column_53 el-table__cell" rowspan="1" colspan="1">
                                     <div class="cell">
                                        
                                        <span class="authorityDisabled">
                                           <i class="icon-passwordLock">
                                              <svg width="1.2em" height="1.2em" version="1.1" id="圖層_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" xml:space="preserve" class="passwordUnLock">
                                                 <path class="st0" d="M51.2,25H12c-1.2,0-2.2,1-2.2,2.2v29.9c0,1.2,1,2.2,2.2,2.2h39.2c1.2,0,2.2-1,2.2-2.2V27.2
                                                    C53.5,26,52.5,25,51.2,25z M35.3,44.2V49c0,2-1.6,3.6-3.6,3.6S28,50.9,28,48.9v-4.8c-1.9-1.2-3.1-3.3-3.1-5.7c0-3.7,3-6.7,6.7-6.7
                                                    s6.7,3,6.7,6.7C38.4,40.9,37.1,43,35.3,44.2z"></path>
                                                 <path class="st0" d="M31.6,2.7c-10.1,0-17.8,7.3-17.8,17V20H20v-0.7c0-6.3,4.9-9.8,11.6-9.8S43.2,14,43.2,20.3v9.8h6.2V19.7
                                                    C49.4,10,41.8,2.7,31.6,2.7z"></path>
                                              </svg>
                                           </i>
                                        </span>
                                     </div>
                                  </td>
                               </tr> 
                            </tbody>
                         </table>
                         
                      </div>
                   </div>
                   <div class="el-scrollbar__bar is-horizontal" style="display: none;">
                      <div class="el-scrollbar__thumb" style="transform: translateX(0%); width: 313.427px;"></div>
                   </div>
                   <div class="el-scrollbar__bar is-vertical" style="display: none;">
                      <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
                   </div>
                </div>
             </div>
             
          </div>
          <div class="el-table__column-resize-proxy" style="display: none;"></div>
       </div>
       <div class="el-pagination is-background">
          <button type="button" class="btn-prev is-first" disabled="" aria-label="Go to previous page" aria-disabled="true">
             <i class="el-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                   <path fill="currentColor" d="M609.408 149.376 277.76 489.6a32 32 0 0 0 0 44.672l331.648 340.352a29.12 29.12 0 0 0 41.728 0 30.592 30.592 0 0 0 0-42.752L339.264 511.936l311.872-319.872a30.592 30.592 0 0 0 0-42.688 29.12 29.12 0 0 0-41.728 0z"></path>
                </svg>
             </i>
          </button>
          <ul class="el-pager">
             <li class="is-active number" aria-current="true" aria-label="page 1" tabindex="0"> 1 </li>
             
          </ul>
          <button type="button" class="btn-next is-last" disabled="" aria-label="Go to next page" aria-disabled="true">
             <i class="el-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                   <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z"></path>
                </svg>
             </i>
          </button>
       </div>
    </div>
 </div>