
    <aside class="el-aside asideMenu" style="--el-aside-width: auto;">
       <ul role="menubar" class="el-menu el-menu--vertical" style="--el-menu-level: 0;">
          <li class="el-menu-item" routerLinkActive="is-active" role="menuitem" tabindex="-1">
            <a routerLink="/home" routerLinkActive="router-link-active router-link-exact-active">My Profile</a>
        </li>
        <li class="el-menu-item" role="menuitem" routerLinkActive="is-active" tabindex="-1">
            <a routerLink="/createMember" routerLinkActive="router-link-active router-link-exact-active">Create Member</a>
        </li> 
       </ul>
    </aside>
    